Repository fond-of-kudu/fond-of-kudu, pull requests merged in 2024-05, with the labels that each got.

#127 chore: product api schedule price import
  dandelion.json
Labels: Version

#130 feat: add product attributes cart connector
  bundles/product-attributes-cart-connector/.github/workflows/main.yml
  bundles/product-attributes-cart-connector/.gitignore
  bundles/product-attributes-cart-connector/LICENSE
  bundles/product-attributes-cart-connector/Makefile
  bundles/product-attributes-cart-connector/README.md
  bundles/product-attributes-cart-connector/codeception.yml
  bundles/product-attributes-cart-connector/composer.json
  bundles/product-attributes-cart-connector/grumphp.yml
  bundles/product-attributes-cart-connector/phpcs.xml
  bundles/product-attributes-cart-connector/src/FondOfKudu/Shared/ProductAttributesCartConnector/Transfer/product_attributes_cart_connector.transfer.xml
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Business/Expander/ProductAttributesExpander.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Business/Expander/ProductAttributesExpanderInterface.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Business/ProductAttributesCartConnectorBusinessFactory.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Business/ProductAttributesCartConnectorFacade.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Business/ProductAttributesCartConnectorFacadeInterface.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Communication/Plugin/ProductAttributesCartPlugin.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/Mapper/AttributesMapper.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/ProductAttributesCartConnectorPersistenceFactory.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/ProductAttributesCartConnectorRepository.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/ProductAttributesCartConnectorDependencyProvider.php
  bundles/product-attributes-cart-connector/tests/FondOfKudu/Zed/ProductAttributesCartConnector/Business/Expander/ProductAttributesExpanderTest.php
  bundles/product-attributes-cart-connector/tests/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/Mapper/AttributesMapperTest.php
  bundles/product-attributes-cart-connector/tests/_bootstrap.php
  composer.json
  dandelion.json
  tests/_output/.gitignore
  tests/_output/coverage.serialized
  tests/_output/coverage.xml
Labels: composer, Version, tests, zed

#133 fix: tests
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/Mapper/AttributesMapper.php
  bundles/product-attributes-cart-connector/tests/FondOfKudu/Zed/ProductAttributesCartConnector/Business/Expander/ProductAttributesExpanderTest.php
  bundles/product-attributes-cart-connector/tests/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/Mapper/AttributesMapperTest.php
  codeception.yml
  composer.json
  tests/_output/.gitignore
  tests/_output/coverage.serialized
  tests/_output/coverage.xml
Labels: composer, tests, zed

#134 fix: memory leak
  bundles/product-attributes-cart-connector/composer.json
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/Mapper/AttributesMapper.php
  bundles/product-attributes-cart-connector/src/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/ProductAttributesCartConnectorRepository.php
  bundles/product-attributes-cart-connector/tests/FondOfKudu/Zed/ProductAttributesCartConnector/Persistence/Mapper/AttributesMapperTest.php
Labels: tests, zed
