Repository fond-of-kudu/fond-of-kudu, pull requests merged in 2024-09, with the labels that each got.

#166 fix: security blocker ci
  bundles/security-blocker-reset/composer.json
  bundles/security-blocker-reset/src/FondOfKudu/Glue/SecurityBlockerReset/Customer/Storage/SecurityBlockerResetStorage.php
  bundles/security-blocker-reset/src/FondOfKudu/Glue/SecurityBlockerReset/SecurityBlockerResetConfig.php
Labels: glue

#167 test: add security blocker reset
  bundles/security-blocker-reset/tests/FondOfKudu/Client/SecurityBlockerReset/Storage/Resetter/SecurityBlockerResetStorageResetterTest.php
  bundles/security-blocker-reset/tests/FondOfKudu/Glue/SecurityBlockerReset/Customer/Storage/SecurityBlockerResetStorageTest.php
  composer.json
Labels: composer, tests

#168 feat: add verified user plugin
  bundles/verified-customer/.github/workflows/main.yml
  bundles/verified-customer/.gitignore
  bundles/verified-customer/LICENSE
  bundles/verified-customer/Makefile
  bundles/verified-customer/README.md
  bundles/verified-customer/codeception.yml
  bundles/verified-customer/composer.json
  bundles/verified-customer/phpcs.xml
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/Communication/Plugin/GlueApplication/IsCustomerVerifiedValidatorPlugin.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/Dependency/Client/VerifiedCustomerToCustomerBridge.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/Dependency/Client/VerifiedCustomerToCustomerInterface.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/Processor/Validator/VerifiedCustomerValidator.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/Processor/Validator/VerifiedCustomerValidatorInterface.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/VerifiedCustomerConfig.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/VerifiedCustomerDependencyProvider.php
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/VerifiedCustomerFactory.php
  bundles/verified-customer/tests/FondOfKudu/Glue/VerifiedCustomer/Processor/Validator/VerifiedCustomerValidatorTest.php
  bundles/verified-customer/tests/_bootstrap.php
  bundles/verified-customer/tests/_data/.gitkeep
  bundles/verified-customer/tests/_supoort/.gitkeep
  codeception.yml
  composer.json
Labels: composer, tests, glue

#170 chore: add verified customer & merge guest order
  dandelion.json
Labels: Version

#175 fix: don't verify guest user
  bundles/verified-customer/src/FondOfKudu/Glue/VerifiedCustomer/Processor/Validator/VerifiedCustomerValidator.php
  bundles/verified-customer/tests/FondOfKudu/Glue/VerifiedCustomer/Processor/Validator/VerifiedCustomerValidatorTest.php
Labels: tests, glue

#177 chore: update product-api-schedule-price-import
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductAbstractModel.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductAbstractModelInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductHandler.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFactory.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Validator/SpecialPriceAttributesValidator.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Validator/SpecialPriceAttributesValidatorInterface.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductAbstractModelTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductHandlerTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Validator/SpecialPriceAttributesValidatorTest.php
  dandelion.json
Labels: Version, tests, zed
