Repository fond-of-kudu/fond-of-kudu, pull requests merged in 2024-08, with the labels that each got.

#154 chore: Refactor SchedulePriceProductHandler for improved readability and maintainability
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceHandler.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductAbstractModel.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductAbstractModelInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductConcreteModel.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductConcreteModelInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductHandler.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductHandlerInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFactory.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacade.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductAbstractModelTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductConcreteModelTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SchedulePriceProductHandlerTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacadeTest.php
  dandelion.json
Labels: Version, tests, zed

#155 feat: initialize product
  bundles/product/.github/workflows/main.yml
  bundles/product/.gitignore
  bundles/product/LICENSE
  bundles/product/Makefile
  bundles/product/README.md
  bundles/product/codeception.yml
  bundles/product/composer.json
  bundles/product/phpcs.xml
  bundles/product/src/FondOfKudu/Shared/Product/Transfer/product.transfer.xml
  bundles/product/src/FondOfKudu/Zed/Product/Communication/Plugin/Url/UrlProductAbstractAfterUpdatePlugin.php
  bundles/product/src/FondOfKudu/Zed/Product/Communication/Plugin/Url/UrlProductAbstractBeforeCreatePlugin.php
  bundles/product/src/FondOfKudu/Zed/Product/Communication/Plugin/Url/UrlProductAbstractBeforeUpdatePlugin.php
  bundles/product/src/FondOfKudu/Zed/Product/Communication/Plugin/Url/UrlProductAbstractPostCreatePlugin.php
  bundles/product/tests/_bootstrap.php
  bundles/product/tests/_data/.gitkeep
  bundles/product/tests/_supoort/.gitkeep
Labels: zed

#156 chore: kletties
  bundles/kletties/.github/workflows/main.yml
  bundles/kletties/.gitignore
  bundles/kletties/LICENSE
  bundles/kletties/Makefile
  bundles/kletties/README.md
  bundles/kletties/codeception.yml
  bundles/kletties/composer.json
  bundles/kletties/phpcs.xml
  bundles/kletties/src/FondOfKudu/Shared/Kletties/KlettiesConstants.php
  bundles/kletties/src/FondOfKudu/Shared/Kletties/Transfer/kletties.transfer.xml
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/KlettiesBusinessFactory.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/KlettiesFacade.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/KlettiesFacadeInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Handler/KlettiesOrderHandler.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Handler/KlettiesOrderHandlerInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Mapper/KlettiesOrderMapper.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Mapper/KlettiesOrderMapperInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Reader/KlettiesReader.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Reader/KlettiesReaderInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Writer/KlettiesOrderWriter.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Business/Model/Writer/KlettiesOrderWriterInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Communication/Plugin/Sales/AddKlettiesDataToSalesOrderItemExpanderPreSavePlugin.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Communication/Plugin/Sales/KlettiesOrderExpanderPlugin.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Communication/Plugin/Sales/PatchKlettiesOrderAfterSalesOrderWasSavedOrderPostSavePlugin.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Dependency/Facade/KlettiesToLocaleFacadeBridge.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Dependency/Facade/KlettiesToLocaleFacadeInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Dependency/Facade/KlettiesToStoreFacadeBridge.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Dependency/Facade/KlettiesToStoreFacadeInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Exception/KlettiesOrderNotFoundException.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/KlettiesConfig.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/KlettiesDependencyProvider.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/KlettiesEntityManager.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/KlettiesEntityManagerInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/KlettiesPersistenceFactory.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/KlettiesRepository.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/KlettiesRepositoryInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/Propel/Mapper/KlettiesEntityMapper.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/Propel/Mapper/KlettiesEntityMapperInterface.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/Propel/Schema/fok_kletties.schema.xml
  bundles/kletties/src/FondOfKudu/Zed/Kletties/Persistence/Propel/Schema/spy_sales.schema.xml
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Business/Model/Handler/KlettiesOrderHandlerTest.php
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Business/Model/Mapper/KlettiesOrderMapperTest.php
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Business/Model/Reader/KlettiesReaderTest.php
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Business/Model/Writer/KlettiesOrderWriterTest.php
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Communication/Plugin/Sales/AddKlettiesDataToSalesOrderItemExpanderPreSavePluginTest.php
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Communication/Plugin/Sales/KlettiesOrderExpanderPluginTest.php
  bundles/kletties/tests/FondOfKudu/Zed/Kletties/Communication/Plugin/Sales/PatchKlettiesOrderAfterSalesOrderWasSavedOrderPostSavePluginTest.php
  bundles/kletties/tests/_bootstrap.php
  bundles/kletties/tests/_data/.gitkeep
  bundles/kletties/tests/_output/.gitkeep
  bundles/kletties/tests/_supoort/.gitkeep
  codeception.yml
  composer.json
  dandelion.json
Labels: composer, Version, tests, zed

#158 chore: fond-of-kudu/kletties-payment-connector
  bundles/kletties-payment-connector/.github/workflows/main.yml
  bundles/kletties-payment-connector/.gitignore
  bundles/kletties-payment-connector/LICENSE
  bundles/kletties-payment-connector/Makefile
  bundles/kletties-payment-connector/README.md
  bundles/kletties-payment-connector/codeception.yml
  bundles/kletties-payment-connector/composer.json
  bundles/kletties-payment-connector/phpcs.xml
  bundles/kletties-payment-connector/src/FondOfKudu/Shared/KlettiesPaymentConnector/KlettiesPaymentConnectorConstants.php
  bundles/kletties-payment-connector/src/FondOfKudu/Shared/KlettiesPaymentConnector/Transfer/kletties_payment_connector.transfer.xml
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/Business/KlettiesPaymentConnectorBusinessFactory.php
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/Business/KlettiesPaymentConnectorFacade.php
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/Business/KlettiesPaymentConnectorFacadeInterface.php
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/Business/PaymentMethodFilter/KlettiesPaymentMethodFilter.php
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/Business/PaymentMethodFilter/KlettiesPaymentMethodFilterInterface.php
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/Communication/KlettiesPaymentMethodFilterPlugin.php
  bundles/kletties-payment-connector/src/FondOfKudu/Zed/KlettiesPaymentConnector/KlettiesPaymentConnectorConfig.php
  bundles/kletties-payment-connector/tests/FondOfKudu/Zed/KlettiesPaymentConnector/Business/KlettiesPaymentConnectorBusinessFactoryTest.php
  bundles/kletties-payment-connector/tests/FondOfKudu/Zed/KlettiesPaymentConnector/Business/KlettiesPaymentConnectorFacadeTest.php
  bundles/kletties-payment-connector/tests/FondOfKudu/Zed/KlettiesPaymentConnector/Business/PaymentMethodFilter/KlettiesPaymentMethodFilterTest.php
  bundles/kletties-payment-connector/tests/FondOfKudu/Zed/KlettiesPaymentConnector/Communication/KlettiesPaymentMethodFilterPluginTest.php
  bundles/kletties-payment-connector/tests/_bootstrap.php
  bundles/kletties-payment-connector/tests/_data/.gitkeep
  bundles/kletties-payment-connector/tests/_output/.gitkeep
  bundles/kletties-payment-connector/tests/_supoort/.gitkeep
  codeception.yml
  composer.json
  dandelion.json
Labels: composer, Version, tests, zed

#159 chore: jellyfish kletties
  bundles/jellyfish-kletties/.github/workflows/main.yml
  bundles/jellyfish-kletties/.gitignore
  bundles/jellyfish-kletties/LICENSE
  bundles/jellyfish-kletties/Makefile
  bundles/jellyfish-kletties/README.md
  bundles/jellyfish-kletties/codeception.yml
  bundles/jellyfish-kletties/composer.json
  bundles/jellyfish-kletties/phpcs.xml
  bundles/jellyfish-kletties/src/FondOfKudu/Shared/JellyfishKletties/Transfer/jellyfish_kletties.transfer.xml
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Business/JellyfishKlettiesBusinessFactory.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Business/JellyfishKlettiesFacade.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Business/JellyfishKlettiesFacadeInterface.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Communication/JellyfishKlettiesCommunicationFactory.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Communication/Plugin/JellyfishKlettiesOrderExpanderPlugin.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Communication/Plugin/JellyfishKlettiesOrderItemExpanderPostMapPlugin.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Dependency/Facade/JellyfishKlettiesToKlettiesFacadeBridge.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/Dependency/Facade/JellyfishKlettiesToKlettiesFacadeInterface.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/JellyfishKlettiesConfig.php
  bundles/jellyfish-kletties/src/FondOfKudu/Zed/JellyfishKletties/JellyfishKlettiesDependencyProvider.php
  bundles/jellyfish-kletties/tests/FondOfKudu/Zed/JellyfishKletties/Communication/JellyfishKlettiesCommunicationFactoryTest.php
  bundles/jellyfish-kletties/tests/FondOfKudu/Zed/JellyfishKletties/Communication/Plugin/JellyfishKlettiesOrderExpanderPluginTest.php
  bundles/jellyfish-kletties/tests/FondOfKudu/Zed/JellyfishKletties/Communication/Plugin/JellyfishKlettiesOrderItemExpanderPostMapPluginTest.php
  bundles/jellyfish-kletties/tests/FondOfKudu/Zed/JellyfishKletties/Dependency/Facade/JellyfishKlettiesToKlettiesFacadeBridgeTest.php
  bundles/jellyfish-kletties/tests/FondOfKudu/Zed/JellyfishKletties/JellyfishKlettiesDependencyProviderTest.php
  bundles/jellyfish-kletties/tests/_bootstrap.php
  codeception.yml
  composer.json
  dandelion.json
Labels: composer, Version, tests, zed

#161 chore: update kletties-bundle
  bundles/kletties/src/FondOfKudu/Shared/Kletties/KlettiesConstants.php
  bundles/kletties/src/FondOfKudu/Zed/Kletties/KlettiesDependencyProvider.php
  dandelion.json
Labels: Version, zed

#162 feat: add security blocker reset
  bundles/product/src/FondOfKudu/Zed/Product/Communication/Plugin/Url/UrlProductAbstractAfterUpdatePlugin.php
  bundles/product/src/FondOfKudu/Zed/Product/Communication/Plugin/Url/UrlProductAbstractPostCreatePlugin.php
  bundles/security-blocker-reset/.github/workflows/main.yml
  bundles/security-blocker-reset/.gitignore
  bundles/security-blocker-reset/LICENSE
  bundles/security-blocker-reset/Makefile
  bundles/security-blocker-reset/README.md
  bundles/security-blocker-reset/codeception.yml
  bundles/security-blocker-reset/composer.json
  bundles/security-blocker-reset/phpcs.xml
  bundles/security-blocker-reset/tests/_bootstrap.php
  bundles/security-blocker-reset/tests/_data/.gitkeep
  bundles/security-blocker-reset/tests/_supoort/.gitkeep
  codeception.yml
  composer.json
  dandelion.json
Labels: composer, Version, zed
