Repository fond-of-kudu/fond-of-kudu, pull requests merged in 2024-03, with the labels that each got.

#106 chore: product promotion availability
  bundles/discount-promotion-rest-api/src/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionItemMapper.php
  bundles/discount-promotion-rest-api/src/FondOfKudu/Shared/DiscountPromotionsRestApi/Transfer/discount_promotions_rest_api.transfer.xml
  bundles/discount-promotion-rest-api/tests/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionItemMapperTest.php
  dandelion.json
Labels: Version, tests, glue, discount-promotion-rest-api

#108 chore: handle special_price_from/special_price_to
  bundles/discount-promotion-rest-api/src/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionItemMapper.php
  bundles/discount-promotion-rest-api/src/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionProductMapper.php
  bundles/discount-promotion-rest-api/src/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionProductMapperInterface.php
  bundles/discount-promotion-rest-api/src/FondOfKudu/Shared/DiscountPromotionsRestApi/Transfer/discount_promotions_rest_api.transfer.xml
  bundles/discount-promotion-rest-api/tests/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionItemMapperTest.php
  bundles/discount-promotion-rest-api/tests/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionProductMapperTest.php
  dandelion.json
Labels: Version, tests, glue, discount-promotion-rest-api

#111 fix: composer replace
  composer.json
Labels: composer

#112 fix: remove default image set logic
  bundles/product-image-storage-connector/src/FondOfKudu/Client/ProductImageStorageConnector/Expander/ProductViewImageCustomSetsExpander.php
  dandelion.json
Labels: Client, Version

#114 chore: product api schedule price import
  bundles/product-api-schedule-price-import/.github/workflows/main.yml
  bundles/product-api-schedule-price-import/.gitignore
  bundles/product-api-schedule-price-import/LICENSE
  bundles/product-api-schedule-price-import/Makefile
  bundles/product-api-schedule-price-import/README.md
  bundles/product-api-schedule-price-import/codeception.yml
  bundles/product-api-schedule-price-import/composer.json
  bundles/product-api-schedule-price-import/phpcs.xml
  bundles/product-api-schedule-price-import/src/FondOfKudu/Shared/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportConstants.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Shared/ProductApiSchedulePriceImport/Transfer/product_api_schedule_price_import.transfer.xml
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFacade.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFactory.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractPostCreatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractUpdatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteCreatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteUpdatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeBridge.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportConfig.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportDependencyProvider.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacadeTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractPostCreatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractUpdatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteCreatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteUpdatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeBridgeTest.php
  bundles/product-api-schedule-price-import/tests/_bootstrap.php
  bundles/product-api-schedule-price-import/tests/_data/.gitkeep
  bundles/product-api-schedule-price-import/tests/_output/.gitkeep
  bundles/product-api-schedule-price-import/tests/_supoort/.gitkeep
  codeception.yml
  composer.json
  dandelion.json
Labels: composer, Version, tests, zed

#116 chore: product-api-schedule-price-import
  dandelion.json
Labels: Version
