Repository fond-of-kudu/fond-of-kudu, pull requests merged in 2024-04, with the labels that each got.

#120 fix: add missing client
  bundles/discount-promotion-rest-api/src/FondOfKudu/Glue/DiscountPromotionsRestApi/DiscountPromotionsRestApiDependencyProvider.php
Labels: glue, discount-promotion-rest-api

#119 fix: tests
  bundles/discount-promotion-rest-api/tests/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionItemMapperTest.php
  bundles/discount-promotion-rest-api/tests/FondOfKudu/Glue/DiscountPromotionsRestApi/Processor/Mapper/PromotionProductMapperTest.php
Labels: tests, discount-promotion-rest-api

#121 chore: product api schedule price import, create plugin
  bundles/product-api-schedule-price-import/composer.json
  bundles/product-api-schedule-price-import/src/FondOfKudu/Shared/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportConstants.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Shared/ProductApiSchedulePriceImport/Transfer/product_api_schedule_price_import.transfer.xml
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapper.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapperInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceProductAbstractCreator.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceProductAbstractCreatorInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFacade.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFactory.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacade.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractPostCreatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractUpdatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteCreatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteUpdatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductFacadeBridge.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeBridge.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportConfig.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportDependencyProvider.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapperTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceProductAbstractCreatorTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductFacadeBridgeTest.php
  composer.json
  dandelion.json
Labels: composer, Version, tests, zed

#122 chore: create/update product-scheduled-prices from product-abstract/concrete
  bundles/product-api-schedule-price-import/src/FondOfKudu/Shared/ProductApiSchedulePriceImport/Transfer/product_api_schedule_price_import.transfer.xml
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapper.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapperInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceHandler.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceHandlerInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceProductAbstractCreator.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceProductAbstractCreatorInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportBusinessFactory.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacade.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractPostCreatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractUpdatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteCreatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteUpdatePlugin.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToCurrencyFacadeBridge.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToCurrencyFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeBridge.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToPriceProductScheduleFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToStoreFacadeBridge.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Dependency/Facade/ProductApiSchedulePriceImportToStoreFacadeInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Finder/PriceProductScheduleFinder.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Finder/PriceProductScheduleFinderInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Mapper/PriceProductScheduleListMapper.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Mapper/PriceProductScheduleListMapperInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Mapper/PriceProductScheduleMapper.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Mapper/PriceProductScheduleMapperInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/ProductApiSchedulePriceImportPersistenceFactory.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/ProductApiSchedulePriceImportRepository.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/ProductApiSchedulePriceImportRepositoryInterface.php
  bundles/product-api-schedule-price-import/src/FondOfKudu/Zed/ProductApiSchedulePriceImport/ProductApiSchedulePriceImportDependencyProvider.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapperTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceHandlerTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/ProductApiSchedulePriceImportFacadeTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractPostCreatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductAbstractUpdatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteCreatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Communication/Plugin/SalePriceProductConcreteUpdatePluginTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Finder/PriceProductScheduleFinderTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Mapper/PriceProductScheduleListMapperTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Persistence/Mapper/PriceProductScheduleMapperTest.php
  dandelion.json
Labels: Version, tests, zed

#125 chore: ProductApiSchedulePriceImport
  bundles/product-api-schedule-price-import/composer.json
  bundles/product-api-schedule-price-import/src/FondOfKudu/Shared/ProductApiSchedulePriceImport/Transfer/product_api_schedule_price_import.transfer.xml
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Mapper/PriceProductScheduleMapperTest.php
  bundles/product-api-schedule-price-import/tests/FondOfKudu/Zed/ProductApiSchedulePriceImport/Business/Model/SalePriceHandlerTest.php
  composer.json
  dandelion.json
Labels: composer, Version, tests
